/* Block */
.page {
    background-color: #333;
    color: #fff;
}

.header {
    padding: 3rem;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 2rem;
  }

.sidebar {
    height: 100%;
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    padding: 3rem;
  }

.nav {
    height: 100%;
    width: 20rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding: 3rem;
  }


.main {
    text-align: center;
    margin-bottom: 1rem;
}

.list {
    list-style-type: none;
}

.list__item {
    font-size: 2rem;
}

.link {
    color: green;
    text-decoration: none;
}

.link__url {
    color: orange
}
