{% extends "template.html" %}

{% block tickerlist %}

    <section class="list-container">
        <table class="table">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in ticker %}
                <tr>
                    <td><a href="/ticker_details?ticker={{ item }}">{{ item }}</a></td>
                    <td>{{ name[loop.index0] }}</td>
                    <td>${{ price[loop.index0] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="pagination">
        <a class="link" href="/ticker_list?page=1">&laquo;</a>
        {% for item in page %}
            <a class="link" href="/ticker_list?page={{ item }}">{{ item }}</a>
        {% endfor %}
        <a class="link" href="/ticker_list?page=3">&raquo;</a>
    </section>

{% endblock %}
